library.add 

body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


section {
    width: 100%;
    /*background-image: linear-gradient(red, yellow);*/
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.date {
    margin: 0 0 0 30px;
    }

/* .aboutMe inherits styling of div */
.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.styled-break {
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    margin: 30px 0 30px 0;
}

.hero-info {
    margin: 0 0 0 30px;
    max-width: 300px;
}


.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#name {
    color: black;
    font-size: 35px;
}

.socials {
	flex: display;
    width: 30px;
    height: 30px;
	border-radius: 50px;
    background-color: transparent;
    margin: 5px;
}




.about-me {
    width: 300px;
    margin: 5px;
    display:flex;
    justify-content: space-evenly;
}

.info {
    max-width: 300px;
    margin: 30px;
}

.button {
    border: 0;
    padding: 10px 10px;
    font-size: 15px;
    background: #ef866c;
    width: 100px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
	text-align: center;
   /* line-height: 2.5;
    width: 130px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2) 30%,
    rgba(0,0,0,0)
    );
    box-shadow: inset 2px 2 px 3px rgba(255,255,255,0.6),
     inset -2px -2px 3px rgba(0,0,0,0.6);*/
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255,255,255,0.8);
}

.hero-image {
    height: 300px;
    width: 300px;
    margin: 30px
}

/*Breakpoints*/
@media only screen and (max-width: 850px) {
    .hero-info {
        max-width: 600px;
    }
    .hero-image {
        visibility: hidden;
        height: 0px
    }
}

form {
    margin: 0 0 40px 0;
}

.input-section {
    margin: 20px 0;
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

footer {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
/*    footer {
        background-color: white;
    }*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: maroon;
}

a:active {
    color: black;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}



.logo { 
    height: 45px;
    padding-bottom: 10px;
    margin-left: 25px;
}


li {
    margin-left: 25px;
}



.hamburger {
    border: 0;
   background-color: transparent;
    width: 30px;
}

.hamburger:focus {
    outline: none;
}

/* Nav bar to disappear when width screen width under 550px */
.nav-bar {
    display: none;
}

.nav-bar.show {
    display: flex;
    flex-direction: column;
}

.nav-bar.li {
    background-color: white;
}

/* When width above 550px hamburger disappears and nav bar comes back*/
@media only screen and (min-width: 550px) {
    .hamburger {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 12px;
    }
    .nav-bar.li {
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
}